@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");
:root {
	--blue: #458ff6;
	--black: #000000;
	--dark-gray: #1f1534;
	--light-gray: #7d7987;
}

html,
body,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
}
body {
	max-width: 100%;
	overflow-x: hidden;
}
/* Margin to left on both side */
.margin-on-side {
	margin: 0 8%;
}
.name {
	font-size: 2rem;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.text-dark-gray {
	color: var(--dark-gray);
}
.text-light-gray {
	color: var(--light-gray);
}
.text-white {
	color: #fff;
}
.text-blue {
	color: var(--blue);
}
.blue-background {
	background-color: var(--blue);
}
.white-background {
	background-color: #fff;
}
.center {
	justify-content: center;
}
.rev {
	flex-direction: row-reverse;
}
.aside {
	justify-content: space-between;
}
.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	position: relative;
	flex: 0 0 100%;
}
.embla__dot {
	background-color: transparent;
	cursor: pointer;
	position: relative;
	padding: 0;
	outline: 0;
	border: 0;
	width: 30px;
	height: 30px;
	margin-right: 7.5px;
	margin-left: 7.5px;
	display: flex;
	align-items: center;
	border-radius: 30px;
}

.embla__dot:after {
	background-color: #efefef;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	content: "";
}

.embla__dot.is-selected:after {
	background-color: #1bcacd;
	opacity: 1;
}
.dot {
	height: 10px;
	width: 10px;
	cursor: pointer;
	border-radius: 10px;
	background-color: var(--blue);
	opacity: 0.5;
	transform: scale(1);
	transition: all 0.1s ease-in-out;
}
.selected {
	opacity: 1;
	transform: scale(1.5);
}
@media only screen and (max-width: 600px) {
	.row {
		flex-direction: column;
	}
}
