@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap");
:root {
	--blue: #458ff6;
	--black: #000000;
	--dark-gray: #1f1534;
	--light-gray: #7d7987;
}

html,
body,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Mulish", sans-serif;
}
body {
	background-color: #e5e5e5;
}
/* Margin to left on both side */
.margin-on-side {
	margin: 0 8%;
}
.name {
	font-size: 2rem;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.text-dark-gray {
	color: var(--dark-gray);
}
.text-light-gray {
	color: var(--light-gray);
}
.text-white {
	color: #fff;
}
.text-blue {
	color: var(--blue);
}
.blue-background {
	background-color: var(--blue);
}
.center {
	justify-content: center;
}
