.heroContainer {
	padding-bottom: 50px;
	justify-content: space-between;
}
.heroInfo {
	width: 40%;
}
.heroHeading {
	font-size: 3rem;
}
.heroDes {
	margin: 25px 0;
	width: 90%;
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 1.7rem;
}
.heroImageContainer {
	width: 55%;
}
.dotPattern {
	position: absolute;
	top: 10rem;
	left: 0;
}
