.headingContainer {
	padding: 30px 0;
	position: relative;
}
.headingContainer:after {
	content: "";
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
	border-color: black;
	border-top: 2px solid;
	width: 35%;
}
.heading {
	font-size: 2rem;
}
@media only screen and (max-width:640px)  {
	
}
