.cardContainer {
	align-self: stretch;
	background-color: #ffffff;
	box-shadow: 10px 40px 50px 0px #e5e9f666;

	max-width: 31%;
	margin-bottom: 30px;
	padding: 40px 30px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	transition: all 0.2s ease;
}
.cardContainer:hover {
	box-shadow: 10px 30px 50px 0px #e5e9f6e8;
	transform: scale(1.02);
}
.cardContainer:hover .imageContainer {
	animation: shake 0.3s ease-in-out 3;
}
.cardContainer:hover .imageContainer div {
	animation: grow 0.3s forwards;
}
.imageContainer {
	display: flex;
	align-items: center;
	height: 100px;
	padding-bottom: 20px;
}
@keyframes shake {
	30% {
		transform: rotate(-10deg);
	}
	50% {
		transform-origin: center center;
	}
	100% {
		transform: rotate(10deg);
	}
}
@keyframes grow {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}
.cardHeading {
	font-weight: 700;
	margin: 15px 0;
}
.cardDes {
	font-size: 1rem;
	font-weight: 300;
	max-width: 90%;
	line-height: 1.8rem;
}
